<!DOCTYPE html>
<html>
<head>
  <title>RockFest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top:70px; padding-bottom:60px;">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
  <h1> RockFest Live Concerts! Coming to your city soon.... <small>Get ready to rock.</small></h1>
   
  </div>
</nav>

  <% flash.each do |key, msg| %>
    <div class="<%= key %>"><%= msg %></div>
    <% end %>

<%= yield %>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container" style="text-align:center">
	<%= link_to "All Concerts", library_concerts_path %>
	<%= link_to "Organise Concert", new_concert_path %>
   
  </div>
</nav>
	


</body>
</html>
