<div class="jumbotron cover_pic">
  <div class="container">
   
  </div>
</div>

<div class="row">
	<div class="col-md-2 col-md-offset-5">
<h3><strong>Concert library</strong></h3>
	</div>
</div>


   
 
<div class="row">
	<% @concerts.each do |concert| %>
		<div class="col-md-7 col-md-offset-3">
			<div class="jumbotron card">
				<div class="container">
	  <%= image_tag concert.logo.url(:medium) %>
	  <p>Band: <%= link_to concert.band, concert_path(concert.id) %></p>
	  <p>City: <%= concert.city %> </p>
	  <p>Venue: <%= concert.venue %> </p>
	  <p>Date: <%= concert.date %> </p>
	  <p>Price <%= concert.price %> </p>
	  <p>Description: <%= concert.description %> </p>

				</div>
			</div>
		</div>
	<% end %>
</div>